@import url(~antd/dist/antd.css);
.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.ant-layout {
  height: 100%; }

.anticon {
  font-size: 20px;
  margin-top: 5px; }

.prensentation {
  margin-top: 20px; }

.prensentation .carousel-container .single-slide {
  padding: 10px 20px;
  text-align: center;
  height: 100%;
  background: #364d79;
  color: #fff;
  overflow: hidden; }

.prensentation .carousel-container .single-slide.slide-image {
  background-size: contain;
  background-repeat: no-repeat; }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 25px; }
  .ant-carousel .slick-slide {
    padding: 5px; } }
